@use "../../presets/" as *;
@use "../../mixins/" as *;

.header-navbar {
  flex-grow: 1;

  &__btn {
    display: none;
  }

  &__list {
    display: grid;
    justify-content: end;
    @include unlist(0 -20px 0 0);
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  }

  &__item {
    margin: $gap $gap-sm;
  }

  &__link {
    display: block;

    padding: $gap $gap-sm;

    transition: color 0.5s;
    letter-spacing: 0.09em;

    font-size: 1.125em;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}
